#showcase {
  background: linear-gradient(
      to bottom,
      rgb(219, 219, 31, 0.1),
      rgba(171, 205, 19, 0.1)
    ),
    url("../img/movie.jpg");
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  height: 70vh;
  width: 100%;
  position: relative;
}
@media (max-width: 869px) {
  #showcase {
    background-attachment: inherit;
  }
}
@media (max-width: 577px) {
  #showcase .content {
    padding: 5px 1px;
  }
}
@media (max-width: 442px) {
  #showcase {
    height: 40vh;
  }
}
@media (min-width: 442px) {
  #showcase {
    height: 40vh;
  }
}
/* Yan telefon */
@media (min-width: 576px) {
  #showcase {
    height: 50vh;
  }
}
/* Tablet */
@media (min-width: 768px) {
  #showcase {
    height: 60vh;
  }
}
/* Notebook */
@media (min-width: 992px) {
  #showcase {
    height: 70vh;
  }
}
.tdn,
.tsr,
.tg,
.aof {
  background: linear-gradient(
    to bottom,
    rgba(219, 219, 31, 0.2),
    rgba(171, 205, 19, 0.1)
  );
  background-size: cover;
  background-position: top center;
}
h3 {
  margin: 0 auto;
}
